.grid {
  border: 1px solid;
  height: 390px;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
}
  
.grid div {
  height: 65px;
  width: 60px;
}

  
.player-one {
  background-color: red;
  border-radius: 30px;
}

.player-two {
  background-color: blue;
  border-radius: 30px;
}